
    <div class="card">
      <div class="card-body">
        <% flash.each do |type, msg| %>
    <div class="alert alert-success" role="alert">
    <%= msg %>
    </div>
    <% end %>
    <h1>Bienvenue sur TGP ! </h1>
    <br>
    <h2>Voici la liste de potins : </h2>
    <br>
      <% Gossip.all.each do |gossip|%>
    <dl>
      <dt>Author : <%= gossip.user.first_name %></dt> 
      <dd>Title : <%= gossip.title %> ||       
        <p> <%=link_to "Clique ici pour voir le potin", gossip_path(gossip.id)%> </p> </dd>
      <% end %>
      </dl>
    </div>
    </div>
   </body>
</html>
